{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajout d'un Contact</h1>

    <form method="post">
        <label for="agence">Agence :</label>
        <select name="agence" id="agence">
            <option value="">Sélectionnez une agence</option>
            {% for key, agence in agences %}
                <option value="{{ agence }}" {{ app.request.request.get('agence') == key ? 'selected' : '' }}>{{ agence }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit"  name ="submit_agence" class="btn btn-primary">Valider</button>
    </form>
    {% if agenceSelectionnee %}
        <p>{{ agenceSelectionnee }}</p>
        <form>
            <label for="contact">Contact :</label>
            <select name="contact" id="contact">
                <option value="">Sélectionnez un contact</option>
                {% for id, nom in contact %}
                    <option value="{{ id }}" {{ app.request.request.get('contact') == id ? 'selected' : '' }}>{{ nom }}</option>
                {% endfor %}
            </select>
        {% endif %}

        {% if contact %}
            <label for="Raison_sociale">Raison sociale :</label>
            <input class="form-control" style="width:85%" type="text" id="raison_sociale" name="raison_sociale">
        </form>
    {% endif %}
    
{% endblock %}